.Rproj.user
.Rhistory
docs/
description-R6-classes.org
pkgdown/_pkgdown.yml
toto.org
inst/docs/
src/
vignettes/*.html
vignettes/*.RData
R_CMD_CHECK.txt
r-cmd-check-badge.svg
Rplots.pdf
R-CMD-check_badge.svg
R-CMD-check_output.txt
rhub-report*
.Rdata
.httr-oauth
.DS_Store
.quarto
